.latest-news-widget {
    .sidebar-title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 15px;
        border-bottom: 2px solid #e74c3c;
        display: inline-block;
        padding-bottom: 5px;
        text-transform: uppercase;
    }

    .sidebar-item {
        display: flex;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;

        &:last-child {
            border-bottom: none;
        }

        .sidebar-img {
            width: 100px;
            margin-right: 10px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 70px;
                object-fit: cover;
                border-radius: 4px;
            }
        }

        .sidebar-content {
            h4 {
                margin: 0 0 5px 0;
                font-size: 14px;
                line-height: 1.3;
                
                a {
                    color: #333;
                    text-decoration: none;
                    &:hover {
                        color: #e74c3c;
                    }
                }
            }

            .meta-info-small {
                font-size: 12px;
                color: #888;
                
                .source {
                    margin-right: 8px;
                    &.red { color: #e74c3c; }
                }
            }
        }
    }
}