body{
  .login-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url("../assets/img/background/backgroundLogin.png");
    >input{
      display: block;
      width: 50%;
      height: 3rem;
      font-size: 1.2rem;
      border-radius: 10px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 1rem;
    }
    >button{
      display: block;
      width: 30%;
      height: 3rem;
      font-size: 1.2rem;
      border-radius: 10px;
      background-color: #1cec00;
      font-weight: bold;

    }
    >p{
      display: block;
      width: 20%;
      height: 4rem;
      font-size: 1.2rem;
      border-radius: 10px;
      background: #bababa;
      text-align: center;
      color: #d32f2f;
      font-weight: bold;
    }
  }
}