
body{
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}
#root{
  margin: 0;
}
.body-newspaper{
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  font-size: 1rem;
}
.content-newspaper{
  >div{
    >p{
      margin: 0;
    }
  }
}
.breadcrumb{
  text-align: left;
  >p{
    width: 100%;
    height: 10vh;
    font-size: 0.8rem;
    color: #0022ff;
  }
}
.title{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  align-content: center;
}
.introduction{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  align-content: center;
  font-style: italic;
}
.blockNewspaper-heading2{
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 3rem;
}
.blockNewspaper-text{
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1rem;
}
.blockNewspaper-img{
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  aspect-ratio: 16 / 9;
  text-align: center;
  >img{
    width: 100%;
    object-fit: cover;
  }
}
.evaluation{
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  padding: 50px;
  .rate-input-container{
    width: 100%;
  }
}
.input-value{
  width: 100%;
  .btn-confirm{

  }
}

.star {
  color: #ccc;
  font-size: 2rem;
  transition: all 0.2s;
  margin-right: 1rem;
}


.star-chose {
  color: #ffc107 !important;
  filter: drop-shadow(0 0 8px #ffc107);
  transform: scale(1.1);
}
.rating-container{
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Arial, sans-serif;

  .star-rating {
    font-size: 50px;
    line-height: 1;
  }

  .stars-outer {
    position: relative;
    display: inline-block;
    color: #e0e0e0;
  }

  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ffc107;
  }

  .rate-number {
    font-weight: bold;
    color: #8c8c8c;
    font-size: 1.2rem;
  }
}
.comment{
  box-shadow: 0 2px 10px #c5c5c5;
  .title{
    font-size: 1.2rem;
    text-align: left;
    padding: 1rem;
  }
  >.content{
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    background-color: #f1f1f1;
    margin: 1rem;
  }
}
.comment-block{
  padding: 10px;
  background-color: #ffffff;
  margin: 1rem;
  border-radius: 5px;
  >.author{
    text-align: left;
    font-size: 1.2rem;
    width: 100%;
    padding: 5px 5px;
    background-color: #a2c0cf;
    font-weight: bold;
    align-content: center;
    border-radius: 5px;
    >p{
      margin: 0;
    }
  }
  >.content{
    text-align: left;
    font-size: 1rem;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 10px;
  }
}