.match-history-container {
    padding: 20px;
}

.match-list {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.match-card {
    background: white;
    border-radius: 8px;
    padding: 15px;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    font-family:'Inter', sans-serif;
}

.score-box {
    text-align: center;
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #d32f2f;
    display: block;
}

.date {
    font-size: 12px;
    color: #666;
}