@use './variables' as *;

.pitch-container {
  width: 100%;
  height: 600px;
  background-image: url("../../assets/img/background/bgPitch.png");
  border-radius: $radius;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  position: relative;
  box-sizing: border-box;
}

.pitch-row {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: 100px;
  z-index: 1;
}
