@use './variables' as *;

.pitch-container {
  width: 100%;
  height: 600px;
  background-color: $success-color;
  border: 3px solid white;
  border-radius: $radius-md;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  position: relative;
  box-sizing: border-box;
}

.pitch-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}

.pitch-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.pitch-row {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  min-height: 100px;
  z-index: 1;
}
