@use './variables' as *;

.player-node {
  width: 60px;
  height: 60px;
  background-color: white;
  border: 2px solid $border-color;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  position: relative;
}

.player-node:hover {
  border-color: $primary-color;
}

.player-node.selected {
  border-color: $warning-color;
  border-width: 3px;
}

.empty-node {
  font-size: 24px;
  color: $text-secondary;
}

.player-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.player-name {
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 10px;
  background-color: $text-primary;
  color: white;

  padding: 2px 6px;
  border-radius: 8px;
  white-space: nowrap;
}
