name: Auto Crawl Data SportNews

on:
  schedule:
    - cron: '0 */6 * * *'
  push:
    branches:
      - "main"
      - "Huy22130099"
  workflow_dispatch:

jobs:
  run-crawler:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          cd Crawler
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Crawler Script
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          cd Crawler
          python main.py