name: Auto Crawl BongDaPlus

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install pymongo requests beautifulsoup4 python-dotenv

      - name: Run Crawler Script
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: python Crawler/main.py