name: Auto Crawl Videos

on:
  schedule:
    - cron: '0 0 */2 * *'
  workflow_dispatch:

jobs:
  crawl:
    runs-on: ubuntu-latest

    steps:
    # 1. Tải code từ kho lưu trữ về máy ảo
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Cài đặt Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 3. Cài đặt các thư viện cần thiết
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install youtube-search-python pymongo python-dotenv httpx==0.27.2

    # 4. Chạy file Crawler
    - name: Run Crawler
      env:
        MONGO_URI: ${{ secrets.MONGO_URI }}
      run: python Crawler/crawl_videos.py